@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  overflow: hidden;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: auto 1fr;
}

.app-body {
  height: 100vh;
  overflow-y: scroll;  
  background-color: #f7f9fc;
}

// Bootstrap
.card {
  box-shadow: 0 0 0.875rem 0 rgba(41,48,66,.05);
  overflow-x: scroll;
}